<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理系统</title>
    <% include ../public/template/cdn.ejs%>
    <link rel="stylesheet" type="text/css" href="../public/css/index.css">
</head>

<body>
    <div class="container">
        <header class="row header">
            <a href="/exportExcel" class="exportExcel">导出员工表</a>
            <a href="/">退出</a>
        </header>
        <main class="row content">
            <div class="col-md-2 nav">
                <div class="head-img">
                    <div class="img-wrap">
                        <img src="../public/image/head.jpg" alt="">
                    </div>
                </div>
                <div class="login-wrap">
                    <span class="user">
                        <%= admin.account %>
                    </span>
                    <span class="user">
                        <%= admin.title%>
                    </span>
                </div>
                <ul>
                    <li id="member-manage">成员管理</li>
                    <li id="member-evaluate">查看评分表</li>
                    <li id="member-assess">评分标准制定</li>
                </ul>
            </div>
            <div class="col-md-10 list">
                <div class="member-list">
                    <div class="list-nav">
                        <div class="list-nav-name">成员管理</div>
                        <div class="list-add-member" id="add-member">
                            <span></span>
                            添加成员信息
                        </div>
                    </div>
                    <ul class="member-list-ul">
                        <li class="member-name row">
                            <div class="col-md-2">工号</div>
                            <div class="col-md-2">姓名</div>
                            <div class="col-md-1">密码</div>
                            <div class="col-md-2">职务</div>
                            <div class="col-md-2">部门</div>
                            <div class="col-md-3">操作</div>
                        </li>
                        <% mini.forEach( item => { %>
                            <li class="member-message row">
                                <div class="col-md-2">
                                    <%= item.num%>
                                </div>
                                <div class="col-md-2">
                                    <%= item.name%>
                                </div>
                                <div class="col-md-1">
                                    <%= item.password%>
                                </div>
                                <div class="col-md-2">
                                    <%= item.title%>
                                </div>
                                <div class="col-md-2">
                                    <%= item.department%>
                                </div>
                                <div class="col-md-3 oper flex">
                                    <span class="edit"></span>
                                    <span class="delete"></span>
                                </div>
                            </li>
                        <%})%>
                    </ul>
                </div>
                <div class="member-list none">
                    <div class="list-nav">
                        <div class="list-nav-name">员工评分表</div>
                    </div>
                    <ul class="member-list-ul">
                        <li class="member-name row">
                            <div class="col-md-3">工号</div>
                            <div class="col-md-3">姓名</div>
                            <div class="col-md-2">部门</div>
                            <div class="col-md-2">交流能力</div>
                            <div class="col-md-2">组织能力</div>
                        </li>
                        <% staff.forEach(item => {%>
                            <li class="member-message row">
                                <div class="col-md-3">
                                    <%= item.num%>
                                </div>
                                <div class="col-md-3">
                                    <%= item.name%>
                                </div>
                                <div class="col-md-2">
                                    <%= item.department%>
                                </div>
                                <div class="col-md-2">
                                    <% if(item.Communication == null) { %>
                                            未评分
                                    <% } else { %>
                                        <%= item.Communication%>
                                    <% }%>
                                </div>
                                <div class="col-md-2">
                                    <% if(item.organization == null) { %>
                                            未评分
                                    <% } else { %>
                                        <%= item.organization%>
                                    <% }%>
                                </div>
                            </li>
                        <%})%>
                    </ul>
                </div>

                <div class="member-list none">
                    <div class="list-nav">
                        <div class="list-nav-name">评分标准制定</div>
                        <div class="list-add-member" id="add-assess">
                            <span></span>
                            添加评分标准
                        </div>
                    </div>
                    <ul class="member-list-ul">
                        <li class="member-name row">
                            <div class="col-md-2">部门</div>
                            <div class="col-md-8">评分标准</div>
                            <div class="col-md-2">操作</div>
                        </li>
                        <li class="member-message row">
                            <div class="col-md-2">
                                办公室
                            </div>
                            <div class="col-md-8">
                                组织能力|交流能力
                            </div>
                            <div class="col-md-2 oper flex">
                                <span class="edit-assess"></span>
                                <span class="delete-assess"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <footer class="row footer">

        </footer>
    </div>
    <div id="insert">
        <div class="insert-content">
            <span id="close"></span>
            <div class="row flex input">
                <span>工号：</span>
                <input type="text" name="" value="" placeholder="请输入账号" id="insert-num">
            </div>
            <div class="row flex input">
                <span>姓名：</span>
                <input type="text" name="" value="" placeholder="请输入姓名" id="insert-name">
            </div>
            <div class="row flex input">
                <span>密码：</span>
                <input type="password" name="" value="" placeholder="请输入密码" id="insert-password">
            </div>
            <div class="row flex input">
                <span>职务：</span>
                <input type="text" name="" value="" placeholder="请输入职务" id="insert-title">
            </div>
            <div class="row flex input">
                <span>部门：</span>
                <input type="text" name="" value="" placeholder="请输入部门" id="insert-department">
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" id="insert-btn">提交</button>
                <span id="insert-member-error"></span>
            </div>
        </div>
    </div>
    <div id="insert-assess">
        <div class="insert-content">
            <span id="close-assess"></span>
            <div class="row flex input ">
                <span>部门：</span>
                <input type="text" name="" value="" placeholder="请输入部门" id="insert-assess-department">
            </div>
            <div class="row flex input">
                <span>评分标准：</span>
                <textarea name="name" rows="8" cols="80" placeholder="请输入评分标准" id="insert-message"></textarea>
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" id="insert-assess-btn">提交</button>
                <span id="insert-member-assess-error"></span>
            </div>
            <div class="row notes-assess">
                注：每项评分标准间以“|”隔开
            </div>

        </div>
    </div>
</body>
<script src="../public/js/admin.js" charset="utf-8" type="text/javascript"></script>

</html>
